*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {

    font-size: 16px;
}

.box-container {

    display: grid;
    height: 100vh;
    place-content: center;
}

.box-1 {

    display: grid;
    grid-template-areas: "header header2" "results summary" "results submit";
    grid-template-rows: 40px 300px;
    grid-template-columns: repeat(2, 50%);
}

h1 {

    grid-area: header;
    background-color: hsl(241, 81%, 54%);
}

h2 {

    grid-area: header2;
}

p {

    grid-area: results;
    background-color: hsl(241, 81%, 54%);
}


ul {

    grid-area: summary;
    padding-left: 30px;
    
}

span {

    color: black;
}

.reaction{

    list-style-image: url(icon-reaction.svg);
    margin-top: 20px;
    color: hsl(0, 100%, 67%);
    background-color: aqua;
}

.memory {

    list-style-image: url(icon-memory.svg);
    margin-top: 25px;
    color: hsl(39, 100%, 56%);
}

.verbal {

    list-style-image: url(icon-verbal.svg);
    margin-top: 25px;
    color: hsl(166, 100%, 37%);
}

.visual {

    list-style-image: url(icon-visual.svg);
    margin-top: 25px;
    color: hsl(234, 85%, 45%);
}

input {

    grid-area: submit;
}